@import './base.css';


.disable-deco {
  list-style-type: none;
  pointer-events: none;
  text-decoration: none;

}

.simple-arrow-down {
  &:after &:before{
    content: "\f0d7";
  }
}

.filled-arrow-down:after{
    content: "▾";
    margin-left: 3px;
}

.separator:before {
  content: "|";
  margin: 0 10px;
}

.clickable{
  cursor: pointer;
}